---
interface Props{
  src:string
  nameProduct:string
  price:number
}
const { src,nameProduct,price } = Astro.props
---
<article class="bg-white rounded-lg bg-opacity-20 overflow-hidden">
  <div class="bg-gray-300 grid place-content-center">
    <img src={src} alt={`Este producto es ${nameProduct}`} width="300px" height="300px">
  </div>
  <div class="p-3">
    <div>
      <h3>{nameProduct}</h3>
      <span class="text-[#1f9f00] font-bold">$ {price}</span>
    </div>
    <button class="w-full py-1 bg-rose-main rounded-md hover:scale-105 active:scale-95 transition-all">Agregar</button>
  </div>
</article>