---
import ReleasesCard from "./ReleasesCard.astro"
import Section from "./Section.astro"

const upcomingReleases = [
  {
    name:'Final Fantasy XVI',
    platform:'PS5',
    releaseDate:'15-02-2025',
    src:'/shiba_games-logo.svg'
  },
  {
    name:'Star Wars: Outlaws',
    platform:'PS4',
    releaseDate:'12-03-2025',
    src:'/shiba_games-logo.svg'
  },
  {
    name:"Dragon's Dogma 2",
    platform:'Multiplataforma',
    releaseDate:'30-01-2025',
    src:'/shiba_games-logo.svg'
  }
]
---
<Section title="🚀 Próximos Lanzamientos"  className="text-white">
  <div class="bg-white bg-opacity-10 grid sm:grid-cols-2 md:grid-cols-3 px-3 pt-3 md:px-8 md:pt-8 pb-16 gap-6">
    {
      upcomingReleases.map((game) => (
        <ReleasesCard name={game.name} releaseDate={game.releaseDate} src={game.src}/>
      ))
    }
  </div>
</Section>